<div class="welcome-content">
    <div class="logo"><img style="width: 100%;" src="assets/stillme.png"/></div>
    <div class="auth-form">
    <p class="name">StillMe</p>
    <form>
        <h3>Login</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="  Email or Phone" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="  Password" id="password">

        <button>Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
        
        <a class="register" href="register">Don't have a profile yet? Register</a>

    </form>
    </div>
</div>

