ul {
    display: flex;
    list-style-type: none;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f131a;
  }
  
  li {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, Sans-serif;
  }
  
  li:hover {
    background-color: #5c6066;
  }

  .push {
    margin-left: auto;
  }
  